/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

input::placeholder {
  font: Nunito;
  opacity: 0.5;
  color: #537C80;
  font-size:12;
}

body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-nunito: Nunito;
  --font-inherit: inherit;
  --font-hoss-round: "Hoss Round";

  /* font sizes */
  --font-size-base: 1rem;
  --font-size-21xl: 2.5rem;
  --font-size-5xl: 1.5rem;
  --font-size-9xl: 1.75rem;
  --font-size-xl: 1.25rem;
  --font-size-base-5: 0.97rem;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #001d1f;
  --color-gold-100: #ffe927;
  --color-gold: #fce623;
  --color-gold-200: #eed920;

  /* Gaps */
  --gap-4xl: 1.44rem;
  --gap-14xl: 2.06rem;

  /* Paddings */
  --padding-13xl: 2rem;
  --padding-xs: 0.75rem;
  --padding-9xl: 1.75rem;

  /* Border radiuses */
  --br-17xl: 36px;
  --br-5xl: 24px;
}
