.frame-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 80rem;
  height: 12.5rem;
  object-fit: cover;
}
.frame-parent {
  position: relative;
  background-color: #093336;
  width: 100%;
  height: 180.94rem;
  overflow: hidden;
}
