.sahaj-gaming-and {
  position: absolute;
  top: 15.88rem;
  right: 3.5rem;
  font-size: 0.88rem;
  letter-spacing: 0.04em;
  color: #519599;
  text-align: left;
}
.facebook,
.instagram,
.twitter,
.youtube {
  text-decoration: none;
  position: absolute;
  top: 0;
  height: 3.19rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.youtube {
  left: 0;
  width: 3.69rem;
  background-image: url(./public/logos-youtubeicon@2x.png);
}
.facebook,
.instagram,
.twitter {
  left: 5.81rem;
  width: 3.38rem;
  background-image: url(./public/logos-twitter@2x.png);
}
.facebook,
.instagram {
  left: 11.25rem;
  width: 3rem;
  background-image: url(./public/skillicons-instagram@2x.png);
}
.facebook {
  left: 16.41rem;
  width: 3.19rem;
  height: 3.18rem;
  background-image: url(./public/logos-facebook@2x.png);
}
.social-medias-icon {
  position: absolute;
  top: 1.5rem;
  left: 0;
  width: 19.59rem;
  height: 3.19rem;
}
.follow-us-on {
  position: absolute;
  top: 0;
  left: 0.31rem;
  letter-spacing: 0.04em;
  font-weight: 900;
  transform: rotate(0.28deg);
  transform-origin: 0 0;
}
.social-medias {
  position: absolute;
  top: 9.13rem;
  left: 4.38rem;
  width: 19.59rem;
  height: 4.69rem;
}
.privacy-policy {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}
.b,
.privacy-policy {
  position: relative;
  letter-spacing: 0.04em;
}
.policies {
  position: absolute;
  top: 15.81rem;
  left: 4.38rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.14rem;
  font-size: 0.97rem;
  color: var(--color-white);
}
.payment-partners1 {
  position: absolute;
  top: 0;
  right: 10.99rem;
  letter-spacing: 0.04em;
  font-weight: 900;
  transform: rotate(0.28deg);
  transform-origin: 0 0;
}
.cashfreelogo-icon,
.razorpay-logo-icon {
  position: absolute;
  top: 0;
  right: 14.06rem;
  width: 6.63rem;
  height: 1.75rem;
  object-fit: cover;
}
.razorpay-logo-icon {
  right: 6.69rem;
  width: 6rem;
}
.juspay-logo-1,
.partners-icon {
  position: absolute;
  right: 0;
  height: 1.75rem;
}
.juspay-logo-1 {
  top: 0;
  width: 5.31rem;
  object-fit: cover;
}
.partners-icon {
  top: 2.06rem;
  width: 20.69rem;
}
.payment-partners {
  position: absolute;
  top: 9.25rem;
  right: 3.5rem;
  width: 20.69rem;
  height: 3.81rem;
  font-family: var(--font-hoss-round);
}
.logo-2-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 22.81rem;
  height: 7.63rem;
  object-fit: cover;
}
.footer-section {
  position: absolute;
  width: 100%;
  top: 171.38rem;
  right: 0;
  left: 0;
  height: 20.5rem;
  overflow: hidden;
}
.testimonial-3-card-child {
  position: absolute;
  top: 0.25rem;
  left: calc(50% - 251px);
  border-radius: var(--br-5xl);
  width: 31.5rem;
  height: 21.19rem;
  object-fit: cover;
}
.testimonial-3-card-item {
  position: absolute;
  top: -0.07rem;
  left: calc(50% - 178.2px);
  width: 8.34rem;
  height: 8.41rem;
  object-fit: cover;
}
.ludo-game-as {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 128%;
  font-weight: 500;
  display: inline-block;
  width: 21.38rem;
  flex-shrink: 0;
}
.ludo-game-as-a-revolutionary-a-wrapper {
  position: absolute;
  top: 8.38rem;
  left: calc(50% - 211px);
  height: 8.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-21xl);
  box-sizing: border-box;
}
.ganesh-pawar,
.noida-uttar-pradesh,
.won-3000 {
  position: absolute;
  left: 12.44rem;
  letter-spacing: 0.02em;
}
.ganesh-pawar {
  top: 3rem;
  font-size: var(--font-size-xl);
  font-weight: 900;
}
.noida-uttar-pradesh,
.won-3000 {
  top: 4.38rem;
  font-weight: 600;
}
.won-3000 {
  top: 5.81rem;
  font-size: var(--font-size-9xl);
  font-weight: 900;
  color: var(--color-gold-100);
}
.testimonial-3-card {
  position: relative;
  width: 26.63rem;
  height: 17.94rem;
}
.testimonial-2-card-child,
.testimonial-4-card-child {
  position: absolute;
  top: 0.25rem;
  left: calc(50% - 253px);
  border-radius: var(--br-5xl);
  width: 31.63rem;
  height: 21.19rem;
  object-fit: cover;
}
.testimonial-2-card-child {
  width: 26.63rem;
}
.testimonial-2-card-item {
  position: absolute;
  top: -0.07rem;
  left: calc(50% - 178.2px);
  border-radius: 50%;
  width: 8.34rem;
  height: 8.41rem;
  object-fit: cover;
}
.testimonial-1-card-child {
  position: absolute;
  top: 1.75rem;
  left: calc(50% - 213px);
  border-radius: var(--br-5xl);
  width: 26.63rem;
  height: 16.19rem;
  object-fit: cover;
}
.user-photp-icon {
  position: absolute;
  top: 0;
  left: calc(50% - 176px);
  width: 8.06rem;
  height: 8.06rem;
  object-fit: cover;
}
.won-5000 {
  position: absolute;
  top: 5.75rem;
  left: 12.44rem;
  font-size: var(--font-size-9xl);
  letter-spacing: 0.02em;
  font-weight: 900;
  color: var(--color-gold-100);
}
.testimonial-3-card-parent {
  position: absolute;
  top: 2rem;
  left: 2.38rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.25rem;
}
.testimonial-carousal {
  position: absolute;
  width: 100%;
  top: 11.81rem;
  right: 0;
  left: 0;
  height: 24.81rem;
  overflow-x: scroll;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-nunito);
}
.for-super-game {
  position: absolute;
  top: calc(50% - 179.5px);
  left: calc(50% - 116px);
  letter-spacing: 0.04em;
  font-weight: 600;
  transform: rotate(-0.12deg);
  transform-origin: 0 0;
}
.super-review-image-icon {
  position: absolute;
  top: calc(50% - 28.95px);
  left: calc(50% - 149.1px);
  border-radius: 11.09px;
  width: 18.54rem;
  height: 3.66rem;
}
.super-review {
  position: absolute;
  top: calc(50% - 24.95px);
  left: calc(50% - 124.2px);
  letter-spacing: 0.02em;
  font-weight: 900;
  transform: rotate(0.28deg);
  transform-origin: 0 0;
}
.super-review-group {
  position: absolute;
  top: calc(50% - 239.1px);
  left: calc(50% - 150px);
  width: 18.79rem;
  height: 3.69rem;
  font-size: 2.25rem;
  color: var(--color-gray-100);
}
.testimonial-section {
  position: absolute;
  height: 19.09%;
  width: 100%;
  top: 70.23%;
  right: 0;
  bottom: 10.68%;
  left: 0;
  background-color: var(--color-gray-100);
  overflow: hidden;
  font-size: 1.88rem;
  color: var(--color-white);
}
.win-real-cash-image-icon {
  position: relative;
  width: 40rem;
  height: 31.25rem;
  object-fit: cover;
}
.a-delightful-twist,
.win-real-cash {
  position: absolute;
  transform: rotate(-0.12deg);
  transform-origin: 0 0;
}
.a-delightful-twist {
  top: 6.41rem;
  left: calc(50% - 237.9px);
  letter-spacing: 0.02em;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 29.82rem;
}
.win-real-cash {
  top: 2.16rem;
  left: calc(50% - 241px);
  font-size: var(--font-size-21xl);
  letter-spacing: 0.04em;
  font-weight: 800;
  color: var(--color-gold);
  text-align: center;
}
.win-real-cash-text {
  position: relative;
  width: 40rem;
  height: 20.5rem;
}
.easy-withdrawals,
.withdrawals-on-our {
  position: absolute;
  transform: rotate(-0.12deg);
  transform-origin: 0 0;
}
.withdrawals-on-our {
  top: 7.36rem;
  left: calc(50% - 226px);
  letter-spacing: 0.02em;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 28.94rem;
}
.easy-withdrawals {
  top: 3.11rem;
  left: calc(50% - 228px);
  font-size: var(--font-size-21xl);
  letter-spacing: 0.04em;
  font-weight: 800;
  color: var(--color-gold);
  text-align: center;
}
.ludo-description-section {
  position: absolute;
  top: 72.25rem;
  left: calc(50% - 640px);
  width: 80rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-nunito);
}
.tap-on-download {
  margin: 0;
  padding-left: var(--padding-13xl);
}
.scan-qr-code-container,
.tap-on-download-container {
  position: absolute;
  top: 2.15rem;
  left: calc(50% - 170.05px);
  letter-spacing: 0.04em;
  line-height: 131%;
  font-weight: 600;
  transform: rotate(-0.12deg);
  transform-origin: 0 0;
}
.scan-qr-code-container {
  top: 0.03rem;
}
.get-game-list {
  position: absolute;
  top: 7.31rem;
  left: calc(50% - 163.5px);
  width: 21.26rem;
  height: 4.09rem;
}
.get-game-on {
  position: absolute;
  top: 2.7rem;
  left: calc(50% - 147.1px);
  font-size: var(--font-size-21xl);
  letter-spacing: 0.04em;
  font-weight: 800;
  font-family: var(--font-nunito);
  text-shadow: 0 8.7px 3.75px rgba(0, 0, 0, 0.23), 0 4.1px 0#000;
  transform: rotate(-0.12deg);
  transform-origin: 0 0;
}
.qr-code-sub-section,
.qr-icon {
  position: absolute;
  height: 14.63rem;
}
.qr-icon {
  top: 0;
  left: calc(50% - 465.5px);
  border-radius: var(--br-17xl) 0 0 var(--br-17xl);
  width: 15rem;
  object-fit: cover;
}
.qr-code-sub-section {
  top: calc(50% - 117px);
  left: calc(50% - 466px);
  border-radius: 34.3px;
  background-color: rgba(0, 0, 0, 0.14);
  box-shadow: 0 3.5px 3.55px rgba(0, 0, 0, 0.21) inset,
    -1.3px -0.9px 1.77px rgba(0, 0, 0, 0.25),
    1.8px 0.9px 1.77px rgba(255, 255, 255, 0.17);
  width: 58.19rem;
}
.qr-code-section {
  position: absolute;
  height: 10.29%;
  width: 100%;
  top: 27.36%;
  right: 0;
  bottom: 62.35%;
  left: 0;
  background-color: #0c4649;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-inherit);
  color: var(--color-white);
  font-family: var(--font-inherit);
}
.vector-icon {
  position: absolute;
  top: 0.16rem;
  left: calc(50% - 153.55px);
  width: 1.02rem;
  height: 1.13rem;
}
.secure-safe-dhamakedaar {
  position: absolute;
  top: 0;
  left: calc(50% - 126.45px);
  letter-spacing: 0.04em;
  font-weight: 800;
}
.secure-safe {
  position: absolute;
  top: 5.16rem;
  left: calc(50% - 153.5px);
  width: 19.19rem;
  height: 1.38rem;
}
.download-button-image-icon {
  position: absolute;
  top: -0.25rem;
  left: calc(50% - 198.4px);
  border-radius: 64px;
  width: 25.42rem;
  height: 5.98rem;
}
.download-1ludo {
  position: absolute;
  top: 0.88rem;
  left: calc(50% - 132.8px);
  font-size: 1.63rem;
  letter-spacing: 0.06em;
  font-weight: 900;
  font-family: var(--font-nunito);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16.68rem;
  text-shadow: 0 6.9px 2.97px rgba(0, 0, 0, 0.31), 0 3.2px 0#154413;
}
.download-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: calc(50% - 190.5px);
  width: 23.81rem;
  height: 4.38rem;
}
.download-group {
  position: absolute;
  top: 28.75rem;
  left: calc(50% - 474px);
  width: 23.81rem;
  height: 6.53rem;
  text-align: left;
}
.mobile-number-input-child {
  position: absolute;
  width: 102.05%;
  top: -0.22rem;
  right: -1.1%;
  left: -0.96%;
  border-radius: 14.46px;
  max-width: 100%;
  overflow: hidden;
  height: 4.33rem;
  object-fit: cover;
}
.phone-number-input,
.span {
  position: absolute;
  top: 0;
  height: 3.88rem;
}
.span {
  width: 21.69%;
  left: 0;
  letter-spacing: 0.04em;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}
.phone-number-input {
  border: 0;
  background-color: transparent;
  left: 5.94rem;
  width: 21.44rem;
}
.mobile-number-input {
  position: absolute;
  width: 34.22%;
  top: 22.94rem;
  right: 55%;
  left: 10.78%;
  height: 3.88rem;
  font-size: 1.36rem;
  color: #537c80;
}
.bachpan-se,
.pachpan-tak {
  position: absolute;
  top: 13.93rem;
  left: 8.41rem;
  font-size: 5rem;
  font-weight: 800;
  text-shadow: 0 13.2px 5.66px rgba(0, 0, 0, 0.23), 0 6.1px 0#000;
  transform: rotate(-0.12deg);
  transform-origin: 0 0;
}
.bachpan-se {
  top: 9.8rem;
  left: 6.38rem;
  font-size: 3.75rem;
}
.main-image-icon {
  position: absolute;
  right: -0.01rem;
  bottom: 0;
  width: 40.7rem;
  height: 45rem;
  object-fit: cover;
}
.main-section {
  position: absolute;
  height: 23.45%;
  top: 3.91%;
  bottom: 72.64%;
  left: calc(50% - 640px);
  width: 80rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-nunito);
}
.logo-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 23.69rem;
  height: 7.5rem;
  object-fit: cover;
}
.nav-bar,
.parent-frame {
  width: 100%;
  overflow: hidden;
}
.nav-bar {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 7.5rem;
}
.parent-frame {
  position: relative;
  background-color: #093336;
  height: 191.88rem;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gold-200);
  font-family: var(--font-nunito);
}
